@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="http://localhost:7000/api/User/Avatar/d8ad84dc-d0ed-4df9-b406-579bce42d51b" alt="avatar">