@{
    ViewData["Title"] = "Home Page";

    IEnumerable<int> numbers = Enumerable.Range(30, 50);

    Console.WriteLine("Index");

    int counter = 0;
}

@* @while(true) {
    <p>@counter++</p>
} *@

@* <ul>
@foreach (int number in numbers)
{
    if(number % 2 == 0) {
        <li>@number</li>
    }
}
</ul> *@